@(content: Html)
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>MY MAIN HTML PLAGE</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/index.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <!--Sidebar content-->
          sidebar
            </div>
            <div class="span10">
              <!--Body content-->
              @content

            </div>
          </div>
        </div>

    </body>
</html>
